:root {
  --rectangle-height: 150px;
}

.root {
  display: flex;
  height: 100vh;
}

.controls {
  width: 25%;
  padding: var(--block-margin);
  display: flex;
  flex-direction: column;
}

.box-shadow-controls {
}

.code {
  margin-bottom: auto;
}

.result {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  background-color: rebeccapurple;
}

.code {
  padding: 20px;
}

.button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 1;
}
